 
    <tbody>
        <tr>
            <td>Task</td> 
            <td>{{Task.totalActive}}</td>
            <td>{{Task.totalArchived}}</td>
            </tr>
        <tr>
            <td>Random Thought</td> 
             <td>{{[Random Thought].totalActive}}</td>
            <td>{{[Random Thought].totalArchived}}</td>
        </tr>
        <tr>
            <td>Idea</td>
            <td>{{Idea.totalActive}}</td>
            <td>{{Idea.totalArchived}}</td>
        </tr>
    </tbody>
    


